<div style="margin-bottom: 70px">
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'lab-10:index' %}">Home</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <!-- LINK MENUJU table, dan link menuju home#form -->
          <li><a href="{% url 'lab-10:movie_list' %}">Movie List</a></li>
          <li><a href="{% url 'lab-10:list_watch_later' %}">Watch Later</a></li>
          <li><a href="{% url 'lab-10:list_watched_movies' %}"> Daftar Watched Movie </a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</div>