{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1>Portofolio</h1>
<hr/>

<section name="bio">
    <h2>Bio</h2>
    <div class="col-md-12 col-xs-12" style="margin-bottom: 5%">
        <img src="https://scontent-sea1-1.cdninstagram.com/t51.2885-15/s480x480/e35/17265820_1360085274081254_9022752606925094912_n.jpg?ig_cache_key=MTQ2NzMwNzM5NTIzOTA3Nzg3Mg%3D%3D.2" width="240" height="240" class="col-lg-3" style="border-radius: 50%">
        <p class="col-lg-2" style="font-size: 20px; text-align: justify; margin-top: 5%">
            {{content}}
        </p>    
    </div>
</section>
<br>
<hr/>
<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button id="btn-submit" type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}