{% extends "base.html" %}
{% block content %}
<h3 style="text-align: center">Hai semua, berikut adalah Catatan Harianku</h3>
<br><br>
<div class="row">
    <div class="col-md-5 col-xs-5" style="margin-left: 7%; margin-right: 7%">
        <table align="center" style="text-align: center" width="5%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <tr style="background-color: rgb(5, 1, 63); color: white">
                <th style="text-align: center">Tanggal</th>
                <th style="text-align: center">Yang akan dikerjakan</th>
            </tr>
            {% for diary_data in diary_dict %}
                <tr>
                    <td class="date">{{ diary_data.date }}</td>
                    <td class="activity">{{ diary_data.activity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-4 col-xs-4">
        <form method="POST" action="add_activity/">
            {% csrf_token %}
            <table class="table table-striped table-bordered col-lg-9">
                <tr style="background-color: rgb(171, 242, 140)">
                    <td>
                        Tanggal
                    </td>
                    <td class="has-success">
                        <input  type="datetime-local" name="date" id="date" required="required"/>
                    </td>
                </tr>
                <tr style="background-color: rgb(171, 242, 140)">
                    <td>
                        Kegiatan
                    </td>
                    <td>
                        <input type="text" name="activity" id="activity" size="30"/>
                    </td>
                </tr>
            </table>
            <button type="submit" class="button btn-success col-lg-12">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
