body{
   margin-top: 70px;
   background: #e9ebee;
   height: 120%;
}

.profile {
	background: white;
	width:1200px;
	margin:0 auto;
	padding-bottom: 50px;
	margin-bottom: 50px;
}

.cover img{
	margin-top: 50px;
    margin-left: 50px;
	margin-right: auto;
	border-radius: 2px/2px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.pic img{
	margin-left: 35px;
    background: white;
    border-radius: 2px/2px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.name {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Helvetica';
    color: #77bceb;
}

.data {
    font-family: 'Helvetica';
}

#login-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.feed {
	width: 1200px;
    min-height: 170px;
    margin: 30px auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px 30px;
    background: white;
    word-wrap: break-word;
    font-family: 'Helvetica';
    font-size: 18px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}


.navbar-static-top {
   margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}