<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Biodata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<style>
    table, th, td {
        border: 1px solid black;
    }
    .subject{
        font-size: 20px;
        font-family: "Comic Sans MS";
        color: #6650ff;
    }
    .value{
        font-size: 20px;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        color: #ff102c;
    }
</style>
<body>
    <div class="container-fullwidth" style="margin-bottom: 5%">
        <nav class="navbar navbar-default navbar-expand-lg navbar-light" style="background-color: rgb(5, 1, 63)">
          <div class="container">
            <a class="navbar-brand col-lg-8" href="#" style="font-weight: bold; font-size: 30px; color: white;">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse container col-lg-4" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item col-lg-4">
                  <a class="nav-link" href="/lab-2/" style="font-weight: bold; font-size: 20px; color: white;">Home</a>
                </li>
                <li class="nav-item col-lg-4" >
                  <a class="nav-link" href="/lab-2-addon/" style="font-weight: bold; font-size: 20px; color: white;">About</a>
                </li>
                <li class="nav-item col-lg-4">
                  <a class="nav-link" href="/lab-3/" style="font-weight: bold; font-size: 20px; color: white;">Diary</a>
                </li>
              </ul>
            </div>
            
          </div>

        </nav>

    </div>
    {% block content %}
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>
