{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Teman Fasilkom</h2>
                    <div id="friend-list" class="list-group">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            //{# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:get-friend-list" %}',
                success: function (response) {
                    //#tampilkan list teman ke halaman
                    var friend_list = JSON.parse(response);
                    //#hint : gunakan fungsi jquery append()
                    if(friend_list.length==0) {
                        $("#friend-list").append('<div class="alert alert-danger text-center"> <strong> Oops! </strong> Tidak ada teman </div>');
                    }
                    else {
                        $.each(friend_list, function(index, friend) {
                            var button = '<span class="pull-right">'+
                                            '<button type="button" class="btn btn-xs btn-danger"'+
                                            'onClick="deleteFriend('+friend.pk+')">'+
                                                '&times;'+
                                            '</button>'+
                                         '</span>';
                            var html = '<a class="list-group-item clearfix" id="list-ke-'+friend.pk+'">'+
                                        friend.fields.friend_name +
                                        ' (' + friend.fields.npm + ')' + button + '</a>';
                            $("#friend-list").append(html)
                        });
                    }
                },
                error: function(error){
                    alert("error");
                }
            });
        });
        var deleteFriend = function(id) {
            $.ajax({
                method: "POST",
                url: "{% url 'lab-7:delete-friend' %}",
                data: {id:id},
                success: function (response) {
                    $('#list-ke-'+id).remove()
                }
            });
           //window.open('delete-friend/'+id+'/', '_self');
        }
    </script>
{% endblock %}
